.dropdown-menu {
  position: absolute;
  right: 0;
  top: 3rem;
  width: 120px;
  z-index: 10;
  padding: 0.25rem;
  border-radius: 4px;
  background-color: var(--COLOR-LIGHT);
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.dropdown-menu ul {
  list-style: none;
}

.dropdown-menu .dropdown-menu-item {
  list-style-type: none;
  height: 40px;
  padding: 0 0.25rem;
  flex-direction: row;
}

.dropdown-menu .dropdown-menu-item:hover {
  background-color: #9142f51a;
  color: var(--COLOR-PRIMARY);
  border-radius: 4px;
}

.dropdown-menu .dropdown-menu-item span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
