.card-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  cursor: pointer;
  position: relative;
  padding: 1rem 2rem;
  max-height: 400px;
  color: var(--COLOR-LIGHT);
  border-radius: 1rem;
}

.card-banner-img {
  width: 260px;
  padding: 2rem 0;
}

.card-banner-badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 1rem 0 1rem 0;
  background-color: var(--COLOR-WARNING);
}

.card-banner-category {
  text-transform: uppercase;
  color: var(--COLOR-GRAY-100);
}

.card-banner-description {
  text-transform: capitalize;
  margin-top: 0.5rem;
  text-align: center;
}

.background-green {
  background-color: #2d6a4f;
}

.background-navy {
  background-color: #14213d;
}
