.cart-cont {
  display: flex;
  gap: 2rem;
  padding: 2rem 1rem;
  justify-content: center;
}
.cart-left-cont {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.cart-right-cont {
  width: 340px;
}
.cart-item {
  max-width: 36rem;
  min-height: 13rem;
  max-height: 13rem;
  margin-bottom: 1rem;
  display: flex;
  height: auto;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1px solid var(--COLOR-GRAY-100);
}

.cart-item .cart-item-img {
  width: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item-img img {
  object-fit: cover;
  max-height: 95%;
}
.cart-item-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item-details .cart-item-title {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
}
.cart-item-details .cart-item-desc {
  padding-bottom: 0.5rem;
}
.cart-item-price .price-new {
  padding-right: 0.5rem;
  font-weight: 400;
}
.cart-item-price .price-old {
  font-weight: 300;
  text-decoration: line-through;
  padding-right: 5px;
  opacity: 0.7;
  color: var(--COLOR-GRAY-300);
}
.cart-item-price .discount {
  color: var(--COLOR-PRIMARY);
}
.cart-item-footer {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.cart-item-footer .btn-qty {
  font-size: 1.4rem;
  font-weight: 300;
  min-width: 0;
  background-color: #95aaff1a;
  color: var(--COLOR-DARK);
}
.cart-item-footer .btn-qty:hover {
  background-color: #95aaff33;
}
.cart-item-footer .active {
  color: var(--COLOR-ERROR);
}

.cart-cont .order-details {
  width: 30%;
  padding: 0 1rem;
}
.order-detail-item {
  color: var(--COLOR-GRAY-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
.btn-order {
  margin-top: 1rem;
  width: 100%;
  justify-content: center;
}
.cart-title {
  margin-bottom: 2rem;
}

.item-count {
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--COLOR-GRAY-300);
}
.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-empty img {
  margin: auto;
  max-width: 400px;
}
@media screen and (max-width: 800px) {
  .cart-cont {
    gap: 1rem;
    flex-direction: column-reverse;
    align-items: center;
  }
  .cart-cont .order-details {
    width: 80%;
  }
}
