.badge .badge-count {
  position: absolute;
  top: -2px;
  right: unset;
  left: 32px;
  display: flex;
  align-items: center;
  padding: 0.1rem 0.3rem;
  font-size: 0.6rem;
  font-weight: 600;
  width: auto;
  min-width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.8rem;
  color: var(--COLOR-LIGHT);
  background-color: var(--COLOR-WARNING);
  border: 2px solid var(--COLOR-LIGHT);
}

.badge .badge-cart {
  left: 20px;
  background-color: var(--COLOR-ERROR);
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.profile span {
  padding-top: 0.3rem;
  font-size: 0.75rem;
}

.avatar-xs {
  width: 1.2rem;
  height: 1.2rem;
}
